{% extends "base.html" %}

{% block content %}
<h1>Create a Jet Engine Part</h1>

<form method="POST">
    <div class="form-group">
        <label for="part_name">Select Part</label>
        <select class="form-control" id="part_name" name="part_name" required>
            {% for part in available_parts %}
                <option value="{{ part }}">{{ part }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label for="altitude">Altitude (m)</label>
        <input type="number" class="form-control" id="altitude" name="altitude" step="0.01" required>
    </div>
    <div class="form-group">
        <label for="M_ambient_input">Aircraft Mach Speed(Ma)</label>
        <input type="number" class="form-control" id="M_ambient_input" name="M_ambient_input" step = "0.01" required>
    </div>
    <div class="form-group">
        <label for="mass_flow">Inlet mass flow(kg/s)</label>
        <input type="number" class="form-control" id="mass_flow" name="mass_flow" required>
    </div>
    <div class="form-group">
        <label for="A1">Inlet air cross-sectional area(m2)</label>
        <input type="number" class="form-control" id="A1" name="A1" step="0.01" required>
    </div>
    <div class="form-group">
        <label for="A2">Outlet air cross-sectional area / Air compressor face(m2)</label>
        <input type="number" class="form-control" id="A2" name="A2" step="0.01" required>
    </div>
    <div class="form-group">
        <label for="eta">Efficiency of air inlet</label>
        <input type="number" class="form-control" id="eta" name="eta" step="0.01" required>
    </div>
    

    <button type="submit" class="btn btn-primary">Create Part</button>
</form>
{% endblock %}
